.u-center-text{
    text-align: center;
}
.u-m-b-big{
    margin-bottom: 8rem;
}

.u-m-b-medium{
    margin-bottom: 4rem;
}

.u-m-b-small{
    margin-bottom: 1.5rem;
}

.u-m-t-big{
    margin-top: 8rem;
}

.u-m-t-ultra-big{
    margin-top: 14rem;
}

.u-m-t-medium{
    margin-top: 4rem;
}

.u-m-t-small{
    margin-top: 1.5rem;
}